//
// Breadcrumb
//

// Breadcrumb
.breadcrumb {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 0;
    margin: 0;    

    // Item breadcrumb
    .breadcrumb-item {
        display: flex;
        align-items: center;
        padding-left: $breadcrumb-item-padding-x;

        &:last-child {
            padding: 0;
        }

        &:after {
            padding-left: $breadcrumb-item-padding-x;
            content: "";
            display: inline-block;
            width: 1em;
            height: 1em;
            background: url('data:image/svg+xml;utf8,<svg fill="none" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M6 4l4 4-4 4" stroke="%2399A1B7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>') center/contain no-repeat;
            vertical-align: middle;
            margin-left: 5px;
            margin-right: 5px;
        }

        &:before {
            display: none;
        }

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }
}

// Breadcrumb line style
.breadcrumb-line {
    .breadcrumb-item {
        &:after {
            content: "-";
        }
    }
}

// Breadcrumb dot style
.breadcrumb-dot {
    .breadcrumb-item {
        &:after {            
            content: "\2022";
        }
    }
}

// Breadcrumb separatorless style
.breadcrumb-separatorless {
    .breadcrumb-item {
        &:after {
            display:none;
        }
    }
}